* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Space Grotesk";
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-container {
  position: relative;
}

.front,
.back {
  position: absolute;
}

.front {
  top: 20%;
  left: 10%;
}

.back {
  top: 50%;
  left: 25%;
}
.card-container {
  position: absolute;
  top: 60%;
  color: white;
  font-size: 2.4rem;
  width: 85%;
  letter-spacing: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
}

#card-number {
  font-size: 2.3rem;

  margin-bottom: 2.2rem;
}
.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
  font-weight: 100;
  text-transform: uppercase;
}
